# config file for ansible -- http://ansible.com/
# ==============================================

# nearly all parameters can be overridden in ansible-playbook
# or with command line flags. ansible will read ANSIBLE_CONFIG,
# ansible.cfg in the current working directory, .ansible.cfg in
# the home directory or /etc/ansible/ansible.cfg, whichever it
# finds first

[defaults]

# some basic default values...

#inventory      = ~/.ansible.multitenant-prometheus/hosts
#library        = /usr/share/my_modules/
remote_tmp     = $HOME/.ansible.multitenant-prometheus/.tmp
local_tmp      = $HOME/.ansible.multitenant-prometheus/.tmp
#forks          = 5
#poll_interval  = 15
#sudo_user      = root
#ask_sudo_pass = True
#ask_pass      = True
#transport      = smart
#remote_port    = 22
#module_lang    = C
#module_set_locale = True

#gathering = implicit
#gather_subset = all

roles_path    = ~/.ansible.multitenant-prometheus/roles

#host_key_checking = True

# change the default callback
#stdout_callback = skippy
# enable additional callbacks
#callback_whitelist = timer, mail
#callback_plugins = $HOME/.ansible/callback_plugins

# SSH timeout
#timeout = 10

remote_user = root

log_path = ~/.ansible.multitenant-prometheus/.logs/ansible.log

# default module name for /usr/bin/ansible
#module_name = command

private_role_vars = yes

# list any Jinja2 extensions to enable here:
#jinja2_extensions = jinja2.ext.do,jinja2.ext.i18n

# If set, configures the path to the Vault password file as an alternative to
# specifying --vault-password-file on the command line.
#vault_password_file = /path/to/vault_password_file

# by default callbacks are not loaded for /bin/ansible, enable this if you
# want, for example, a notification or logging callback to also apply to
# /bin/ansible runs
#bin_ansible_callbacks = False

nocows = 1

#fact_caching = memory
retry_files_save_path = ~/.ansible.multitenant-prometheus/.retry

# squash actions
# Ansible can optimise actions that call modules with list parameters
# when looping. Instead of calling the module once per with_ item, the
# module is called once with all items at once. Currently this only works
# under limited circumstances, and only with parameters named 'name'.
#squash_actions = apk,apt,dnf,package,pacman,pkgng,yum,zypper

# controls the compression level of variables sent to
# worker processes. At the default of 0, no compression
# is used. This value must be an integer from 0 to 9.
#var_compression_level = 9
#module_compression = 'ZIP_DEFLATED'

# This controls the cutoff point (in bytes) on --diff for files
# set to 0 for unlimited (RAM may suffer!).
#max_diff_size = 1048576


### BEGIN VAGRANT STUFF
inventory = .vagrant/provisioners/ansible/inventory/vagrant_ansible_inventory
host_key_checking = False
gather_facts = False
### END VAGRANT STUFF

[privilege_escalation]
[paramiko_connection]
[ssh_connection]
pipelining = False

[accelerate]
[selinux]
[colors]
